.image_main {
  display: flex;
}

.image_sub {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
  flex: 1;
}

.image {
  height: 50px;
  border-radius: 30px;
  object-fit: contain;
}

ion-checkbox {
  --background-checked: #16b3ac;
}

ion-checkbox::part(container) {
  border: 1px solid #16b3ac;
}

.button_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
