<ion-header>
  <ion-toolbar>
    <ion-title>forgotPassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #forgotForm="ngForm" class="ion-align-items-center">
    <ion-text class="ion-padding-bottom ion-padding-start ion-padding-end"
      >Forgot</ion-text
    >

    <ion-row
      class="input_check_button ion-align-items-center ion-padding-start ion-padding-end"
    >
      <ion-input
        [(ngModel)]="forgotData.email"
        class="normal-input"
        placeholder="Email"
        type="email"
        #email="ngModel"
        name="email"
        required
      >
      </ion-input>
    </ion-row>

    <br />
    <br />

    <ion-row class="ion-padding-start ion-padding-end">
      <button (click)="checkEmailExist($event)" class="buttons">submit</button>
    </ion-row>
  </form>
</ion-content>
