ion-input {
  border: none;
  background-color: #e5edf7;
  border-radius: 16px;
  height: 40px;
  --padding-start: 10px;

  ion-icon {
    font-size: 18px;
    padding: 10px;
    color: #16b3ac;
  }
}

ion-button {
  text-transform: capitalize;
  --background: none;
  color: black;
  --box-shadow: none;
  color: #16b3ac;
}
