.image {
  height: 80px;
  border-radius: 30px;
  object-fit: contain;
}

ion-card {
  --background: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(121, 121, 129, 0.2) 0px 7px 29px 0px;

  ion-accordion-group {
    margin-top: 10px;
    margin-bottom: 10px;

    ion-accordion {
      background-color: #ffffff;

      ion-item {
        background-color: #ffffff;
      }
    }
  }
}

ion-input {
  border: none;
  background-color: #e5edf7;
  border-radius: 16px;
  height: 40px;
  --padding-start: 10px;

  ion-icon {
    font-size: 18px;
    padding: 10px;
    color: #16b3ac;
  }
}

ion-label {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.none {
  color: #000000;
  font-size: 16px;
  font-weight: normal;

  max-height: 5.4em;
  height: auto;
  white-space: normal;
}

ion-text {
  color: #616161;
  font-size: 16px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}
